* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#addItem {
  border: 2px solid black;
  border-radius: 3px;
  margin-bottom: 6px;
  padding: 4px;
  outline: none;
}

.appContainer {
  border: black solid 2px;
  border-radius: 10px;
  padding: 0.75em;
  margin: 100px auto;
  max-width: 260px;
}

.appTitle {
  margin-top: 0;
  margin-bottom: 0.75em;
}

body {
  margin: auto;
}

button {
  border-radius: 5px;
  font-size: 0.75rem;
  margin-top: 6px;
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

.displayComponent {
  display: block;
}

.editItem {
  background-color: lightgray;
  color: white;
}

.formContainer {
  margin-bottom: 10px;
}

#filterItems {
  border: none;
  border-bottom: solid 2px;
  outline: none;
}

.hideComponent {
  display: none;
}

input {
  width: 100%;
}

.itemsList {
  border-bottom: 20px;
  cursor: pointer;
  list-style-type: none;
}

.itemDisplayContainer {
  width: 100%;
}

.removeItemIconStyle {
  font-size: 0.75em;
  border: 1px solid;
}

.shoppingItem {
  align-items: center;
  border: 2px solid grey;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
  padding: 5px;
  width: 100%;
}

.buttonTheme1 {
  background-color: #97dffc;
  border-color: #97dffc;
  color: #ffff;
}

.buttonTheme2 {
  background-color: #b892ff;
  border-color: #b892ff;
  color: #ffff;
}

.buttonTheme3 {
  background-color: #ffc2e2;
  border-color: #ffc2e2;
  color: #ffff;
}
.buttonTheme4 {
  background-color: #17a5a3;
  border-color: #17a5a3;
  color: #ffff;
}
.buttonTheme5 {
  background-color: #d8315b;
  border-color: #d8315b;
  color: #ffff;
}

.backgroundTheme1 {
  background-color: #fca097;
}

.backgroundTheme2 {
  background-color: #fff494;
}

.backgroundTheme3 {
  background-color: #d7ffc2;
}
.backgroundTheme4 {
  background-color: #a64417;
}
.backgroundTheme5 {
  background-color: #4dd831;
}
