* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#addItem {
  margin-bottom: 5px;
  outline: none;
}

.appContainer {
  border: black solid 2px;
  border-radius: 10px;
  padding: 0.75em;
  margin: 100px auto;
  max-width: 300px;
}

.appTitle {
  margin-top: 0;
  margin-bottom: 0.75em;
}

body {
  margin: auto;
}

button {
  border-radius: 5px;
  font-size: 0.75rem;
  margin-top: 6px;
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

.displayComponent {
  display: block;
}

.editItem {
  margin-top: 5px;
  color: #19b519;
}

.formContainer {
  margin-bottom: 10px;
}

#filterItems {
  border: none;
  border-bottom: solid 2px;
  outline: none;
}

.hideComponent {
  display: none;
}

.itemsList {
  border-bottom: 20px;
  cursor: pointer;
  list-style-type: none;
}

.itemDisplayContainer {
  width: 50%;
}

.removeItemIconStyle {
  font-size: 0.75em;
  border: 1px solid;
}

.shoppingItem {
}
