.appContainer {
}

button:hover {
  cursor: pointer;
}

.displayComponent {
  display: block;
}

.hideComponent {
  display: none;
}

.itemsList {
  list-style-type: none;
  cursor: pointer;
}

.itemDisplayContainer {
  width: 50%;
}

.removeItemIconStyle {
  font-size: 0.75em;
  border: 1px solid;
}

.shoppingItem {
}
